<div class="container mx-auto mt-8">
    <h2 class="text-2xl font-semibold mb-4">All Users</h2>
  
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      <div *ngFor="let user of users" class=" p-6 bg-blue-100 rounded-md shadow-md">
        <div class="flex items-center mb-4">
          <img src="https://via.placeholder.com/40" alt="User Avatar" class="w-10 h-10 rounded-full me-2">
          <h3 class="text-lg font-semibold">{{ user.username }}</h3>
        </div>
        <p class="text-gray-600">{{ user.email }}</p>
      
        <p class="text-gray-500 mt-2"><b>Role:</b> {{ user.role || 'Reader' }}</p>
        <a  [routerLink]="['/userprofile', user._id]" type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded">
            view Profile</a>
        <!-- Add more user details as needed -->
      </div>
    </div>
  </div>
  